@using RailwayTicketSystem.Models.ViewModels;
@{
    Layout = "_AdminLayout";
}
@model Train

<div class="container">
    <h1>Add Train</h1>
</div>

@if (TempData["Success"] != null)
{
   
    <div class="alert alert-success alert-dismissible fade show" role="alert">
        @TempData["success"]
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
}

<div class="container mt-3">
    <form asp-action="AddTrain" asp-controller="Admin" method="post" class="justify-content-center">

        <div class="row w-75">
            <div class="col">
                <label asp-for="TrainName"></label>
                <input asp-for="TrainName" class="form-control" />
                <span asp-validation-for="TrainName"></span>            
            </div>
            <div class="col">
                <label asp-for="TrainNo"></label>
                <input asp-for="TrainNo" class="form-control" />
                <span asp-validation-for="TrainNo"></span>
            </div>
        </div>
@* 
        <div class="coach-row coach-container">
            @for (var i = 1; i < Model.Coaches.Count; i++)
            {
                <div class="coach-row row w-75 mt-3">
                    <div class="col">
                        <label asp-for="Coaches.CoachNumber"></label>
                        <input asp-for="Coaches.CoachNumber" class="form-control" />
                        <span asp-validation-for="Coaches.CoachNumber"></span>
                    </div>
                    <div class="form-group col">
                        <label asp-for="Coaches.CompartmentId" class="control-label">Select Compartment</label>
                        <select asp-for="Coaches.CompartmentId" asp-items="@(new SelectList(Model.Compartments, "Id", "CompartmentName"))" class="form-control">
                            <option value="">-- Select Compartment --</option>
                        </select>
                        <span asp-validation-for="Coaches.CompartmentId" class="text-danger"></span>
                    </div>
                    <div class="col">
                        <label asp-for="Coaches.TotalSeats"></label>
                        <input asp-for="Coaches[i].TotalSeats" class="form-control" />
                        <span asp-validation-for="Coaches[].TotalSeats"></span>
                    </div>
                    <div class="col">
                        <button type="button" class="btn mt-2 btn-danger btn-circle remove-coach-btn"><i class="fas fa-trash-alt"></i></button>
                    </div>
                </div>
            }
            <!-- Other rows will be added dynamically here -->
        </div> *@

      @*   <button id="addCoachBtn" type="button" class="btn btn-primary">Add Coach</button> *@



        
        <div class="row w-75 mt-4">     
            <div class="col">
                <input type="submit" value="Add Train" class="btn btn-lg btn-secondary col" />
            </div>
        </div>

    </form>
</div>
