@{
    Layout = "_AdminLayout";
}
@model IEnumerable<RailwayTicketSystem.Models.Station>

<div class="container">
    <!-- DataTales Example -->
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">DataTables Example</h6>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Station Code</th>
                            <th>Sequence</th>
                            <th>Railway Division</th>
                        </tr>
                    </thead>
                    <tfoot>
                        <tr>
                            <th>ID</th>
                            <th>Station Code</th>
                            <th>Sequence</th>
                            <th>Railway Division</th>
                        </tr>
                    </tfoot>
                    <tbody>
                        @{
                            foreach (var items in Model)
                            {
                                <tr>
                                    <td>@items.StationId</td>
                                    <td>@items.StationName</td>
                                    <td>@items.Sequence</td>
                                    <td>@items.RailwayDivisionName</td>
                                </tr>
                            }
                        }

                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>