@page
@model LoginModel

@{
    ViewData["Title"] = "Log in";
}


<!-- Template Form Start -->
<section class="contact-area">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-10">
                <div class="section-title text-center mb-40">
                    <h2 class="title">Welcome</h2>
                    <span class="sub-title">login</span>
                </div>
                <div class="contact-form justify-content-center mt-3">
                    <form id="account" method="post">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <div class="row justify-content-center">
                            <div class="col-md-6">
                                <div class="form-grp">
                                    <input asp-for="Input.Email" class="form-control" autocomplete="username" aria-required="true" />
                                    <label asp-for="Input.Email" class="form-label"></label>
                                    <span asp-validation-for="Input.Email" class="text-danger"></span>
                                </div>
                            </div>
                        </div>
                        <div class="row justify-content-center">
                            <div class="col-md-6">
                                <div class="form-grp">
                                    <input asp-for="Input.Password" class="form-control mt-2" autocomplete="current-password" aria-required="true" />
                                    <label asp-for="Input.Password" class="form-label"></label>
                                    <span asp-validation-for="Input.Password" class="text-danger"></span>
                                </div>
                            </div>
                        </div>
                        <div class="row justify-content-center">
                            <div class="col-md-6">
                                <div class="checkbox">
                                    <label asp-for="Input.RememberMe" class="form-label">
                                        <input class="form-check-input" asp-for="Input.RememberMe" />
                                        @Html.DisplayNameFor(m => m.Input.RememberMe)
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="submit-btn text-center">
                            <button id="login-submit" type="submit" class="w-50 btn btn-lg btn-warning mt-2">Log in</button>
                        </div>
                        <div class="mt-2 justify-content-center">
                            <p>
                                <a id="forgot-password" asp-page="./ForgotPassword" class="black-anchor">Forgot your password?</a>
                            </p>
                            <p>
                                <a asp-page="./Register" asp-route-returnUrl="@Model.ReturnUrl" class="black-anchor">Register as a new user</a>
                            </p>
                            <p>
                                <a id="resend-confirmation" asp-page="./ResendEmailConfirmation" class="black-anchor">Resend email confirmation</a>
                            </p>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Template Form End -->


